<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Teeth</title>
	</head>

	<body>
		<h1>{{device}}</h1>

		<div>
			<h2>Device</h2>
			<ul class="interface" data-interface="Device1">
				<li><button class="action" data-action="Connect">Connect</button></li>
				<li><button class="action" data-action="Disconnect">Disconnect</button></li>
			</ul>
		</div>

		<div>
			<h2>Media Control</h2>
			<ul class="interface" data-interface="MediaControl1">
				<li>
					<button class="action" data-action="Play">Play</button>
					<button class="action" data-action="Pause">Pause</button>
					<button class="action" data-action="Stop">Stop</button>
				</li>

				<li>
					<button class="action" data-action="Previous">Previous</button>
					<button class="action" data-action="Next">Next</button>
				</li>

				<li>
					<button class="action" data-action="Rewind">Rewind</button>
					<button class="action" data-action="FastForward">FastForward</button>
				</li>

				<li>
					<button class="action" data-action="VolumeDown">VolumeDown</button>
					<button class="action" data-action="VolumeUp">VolumeUp</button>
				</li>
			</ul>
		</div>

		<script src="/vendor/umbrella.min.js"></script>
		<script src="/scripts/device.js"></script>
	</body>
</html>
